<%= provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".help_text_1" %>
  <%= link_to t(".link_help_1"), "http://www.railstutorial.org/help" %>.
  <%= t ".help_text_2" %> <%= link_to t(".link_help_2"), "http://www.railstutorial.org/book" %>.
</p>
