<% provide(:title, t ".help") %>
<h1><%= t ".help" %></h1>
<p><%= t ".help_detail" %><%= link_to t("link_tutorial"), t ".link_help" %>
  <%= t ".help_detail_2" %><%= link_to t(".link_tutorial_2"),
  "http://www.railstutorial.org/book"%><%= t ".help_detail_3" %>.
</p>
